.blog {
   position: relative;
   width: 100%;
   background-color: var(--white);
   overflow: hidden;

   .intro {
      width: 100%;
      padding-top: 3.1rem;

      .banner {
         background-color: var(--primary);
         padding: 0.5rem 0;

         .mobileTitle {
            font-size: 1.8rem;
            text-align: center;
            color: var(--white);
         }

         .title {
            display: none;
         }
      }

      .epigraph {
         width: 90%;
         margin: 1.5rem auto;

         .text {
            text-align: center;
            font-size: 1rem;
         }
      }
   }

   .container {
      max-width: 1100px;
      width: 90%;
      margin: 0 auto;

      .featuredPosts,
      .allPosts {
         width: 100%;
         margin: 2rem 0;

         .title {
            width: 95%;
            margin: 0 auto;
            font-size: 1.5rem;
            color: var(--black);
            text-transform: inherit;
         }

         .posts {
            position: relative;
            width: 100%;
            z-index: 1;

            .sliderBtn {
               position: absolute;
               top: 25%;
               font-size: 2rem;
               color: var(--white);
            }

            .sliderBtn:first-child {
               margin-left: 0.6rem;
            }

            .sliderBtn:last-child {
               margin-right: 0.6rem;
            }

            .post {
               display: flex;
               flex-direction: column;
               justify-content: center;
               width: 95%;
               margin: 2rem auto;

               .image {
                  position: relative;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  width: 100%;
                  height: 180px;
                  margin: 0 auto;
                  border-radius: 20px;
                  box-shadow: 4px 6px 5px 0px rgba(0, 0, 0, 0.2);
                  z-index: 1;

                  img {
                     object-fit: cover;
                     border-radius: 20px;
                  }
               }

               .date {
                  width: 120px;
                  margin: 0.5rem;
                  font-size: 0.85rem;
                  font-weight: 500;
                  color: rgb(140, 140, 140);
               }

               .title {
                  width: 95%;
                  margin: 0 auto;
                  font-size: 1.2rem;
               }

               .description {
                  width: 95%;
                  margin: 1rem auto;
                  line-height: 1.4;
                  font-size: 0.9rem;
                  color: var(--textColor);
               }

               .postBtn {
                  width: 150px;
               }
            }
         }
      }
   }
}

@media (min-width: 720px) {
   .blog {
      .intro {
         padding-top: 4rem;

         .banner {
            padding: 1rem 0;

            .mobileTitle {
               display: none;
            }

            .title {
               display: block;
               font-size: 2.5rem;
               text-align: center;
               color: var(--white);
            }
         }

         .epigraph {
            max-width: 1100px;
            margin: 2.5rem auto;

            .text {
               font-size: 1.1rem;
            }
         }
      }

      .container {
         .featuredPosts,
         .allPosts {
            .title {
               font-size: 1.8rem;
            }

            .posts {
               .sliderBtn {
                  font-size: 2.5rem;
               }

               .post {
                  .image {
                     height: 250px;
                     border-radius: 30px;
                     box-shadow: 6px 8px 5px 0px rgba(0, 0, 0, 0.2);
                     cursor: pointer;

                     img {
                        border-radius: 30px;
                     }
                  }

                  .date {
                     margin: 0.5rem 0;
                     font-size: 0.9rem;
                  }

                  .title {
                     width: 100%;
                     font-size: 1.3rem;
                     cursor: pointer;
                  }

                  .description {
                     font-size: 1rem;
                     width: 100%;
                     cursor: pointer;
                  }

                  .postBtn {
                     width: 160px;
                     cursor: pointer;
                  }
               }
            }
         }

         .featuredPosts .posts {
            width: 95%;
            margin: 0 auto;

            .sliderBtn {
               position: absolute;
               top: 45%;
               font-size: 3.5rem;
               color: var(--black);
            }

            .sliderBtn:first-child {
               margin-left: -4rem;
            }

            .sliderBtn:last-child {
               margin-right: -4rem;
            }

            .post {
               display: flex;
               flex-direction: row;
               justify-content: space-between;
               align-items: center;
               width: 100%;

               .image {
                  width: 55%;
                  height: 400px;
                  margin: 0;
               }

               .info {
                  display: flex;
                  flex-direction: column;
                  justify-content: space-evenly;
                  align-items: flex-start;
                  width: 40%;
                  height: 400px;
                  margin-right: 1rem;

                  .date {
                     margin: 1rem 0;
                     font-size: 1rem;
                  }

                  .title {
                     font-size: 2rem;
                  }

                  .description {
                     font-size: 1.2rem;
                     line-height: 1.6;
                  }
               }
            }
         }

         .allPosts {
            .posts {
               display: flex;
               justify-content: space-between;
               align-items: center;
               flex-wrap: wrap;

               .post {
                  width: 30%;
                  height: 450px;
                  justify-content: space-between;

                  .image {
                     height: 200px;
                  }

                  .info {
                     height: 260px;
                     display: flex;
                     flex-direction: column;
                     align-items: flex-start;
                     justify-content: space-between;
                  }
               }
            }
         }
      }
   }
}
