.redCircles {
   position: absolute;
   top: 25rem;
   right: -1.5rem;
   width: 30%;
   height: 150px;
   z-index: 0;
   transform: rotate(150deg);
}

.lightGreenStain {
   position: absolute;
   top: 115rem;
   left: -5rem;
   z-index: 0;
   width: 30%;
   height: 150px;
}

.greenStain {
   position: absolute;
   top: 168rem;
   right: -3rem;
   z-index: 0;
   width: 30%;
   height: 200px;
}

.greenCircles {
   position: absolute;
   top: 220rem;
   left: -4rem;
   z-index: 0;
   width: 30%;
   height: 150px;
   transform: rotate(30deg);
}

.redCircles2 {
   position: absolute;
   top: 250rem;
   right: -4rem;
   z-index: 0;
   width: 30%;
   height: 150px;
}

@media (min-width: 720px) {
   .redCircles {
      top: 50rem;
      width: 20%;
      height: 180px;
      transform: rotate(210deg);
   }

   .lightGreenStain {
      top: 110rem;
      left: -6rem;
      width: 20%;
      height: 450px;
   }

   .greenStain {
      top: 109rem;
      right: -3rem;
      width: 20%;
      height: 550px;
      z-index: 4;
   }

   .greenCircles {
      top: 195rem;
      width: 20%;
      height: 250px;
   }

   .redCircles2 {
      top: 255rem;
      width: 20%;
      height: 250px;
   }
}

@media (min-width: 1100px) {
   .redCircles {
      top: 45rem;
      right: 8rem;
      width: 10%;
      height: 250px;
   }

   .lightGreenStain {
      top: 110rem;
      left: -15rem;
      width: 25%;
      height: 550px;
   }

   .greenStain {
      top: 110rem;
      right: -10rem;
      width: 25%;
      height: 750px;
   }

   .greenCircles {
      top: 210rem;
      left: 2rem;
      width: 10%;
      height: 250px;
   }

   .redCircles2 {
      top: 260rem;
      right: 2rem;
      width: 10%;
      height: 250px;
   }
}
