.post {
   position: relative;
   width: 100%;
   background-color: var(--white);
   padding: 4.5rem 0;
   overflow: hidden;
   z-index: 10;

   .banner {
      background-color: var(--primary);
      padding: 0.5rem 0;
      margin-bottom: 1.5rem;

      .mobileTitle {
         font-size: 2rem;
         text-align: center;
         color: var(--white);
      }

      .title {
         display: none;
      }
   }

   .image {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80%;
      height: 180px;
      margin: 0 auto;
      z-index: 1;

      img {
         object-fit: cover;
         border-radius: 20px;
      }
   }

   .container {
      width: 80%;
      margin: 1rem auto;

      .title {
         margin: 1rem 0;
         font-size: 1.8rem;
         text-align: left;
         color: var(--black);
         text-transform: inherit;
      }

      .date {
         width: 120px;
         margin: -10px 0;
         font-size: 0.85rem;
         font-weight: 500;
         color: rgb(140, 140, 140);
      }

      .content {
         h2 {
            margin: 1rem 0;
            font-size: 1.6rem;
            text-transform: inherit;
            color: var(--black);
         }

         h3 {
            margin: 1rem 0;
            font-size: 1.4rem;
            text-transform: inherit;
            color: var(--black);
         }

         h4 {
            margin: 1rem 0;
            font-size: 1.2rem;
            text-transform: inherit;
            color: var(--black);
         }

         p {
            margin: 0.5rem 0;
            font-size: 1rem;
            line-height: 1.6;
            color: var(--black);
         }

         p:nth-last-child(2) {
            margin-top: 2rem;
         }

         div {
            margin: 1rem 0;

            img {
               width: 100%;
               height: auto;
               border-radius: 20px;
            }

            em {
               font-size: 0.9rem;
               color: rgb(140, 140, 140);
            }
         }

         ul {
            padding-left: 2rem;

            li {
               margin: 0.5rem 0;
               font-size: 1rem;
               line-height: 1.6;
               color: var(--black);
            }
         }

         a {
            color: var(--primary);
            text-decoration: underline;
         }
      }
   }
}

@media (min-width: 720px) {
   .post {
      padding: 4rem 0;

      .banner {
         padding: 1rem 0;

         .mobileTitle {
            display: none;
         }

         .title {
            display: block;
            margin: 0.67em 0;
            font-size: 2.5rem;
            text-align: center;
            color: var(--white);
         }
      }

      .image {
         max-width: 1030px;
         width: 100%;
         height: 470px;

         img {
            object-fit: cover;
         }
      }

      .container {
         max-width: 1000px;
         margin: 0 auto;

         .title {
            font-size: 2.5rem;
         }

         .date {
            margin: 1rem 0;
            font-size: 0.9rem;
         }

         .content {
            h2 {
               margin: 1.5rem 0;
               font-size: 1.7rem;
            }

            h3 {
               margin: 1.2rem 0;
               font-size: 1.5rem;
            }

            h4 {
               margin: 1.2rem 0;
               font-size: 1.3rem;
            }

            p {
               font-size: 1.1rem;
            }

            div {
               margin: 2rem 0;

               img {
                  width: 25%;
                  height: auto;
               }

               em {
                  display: block;
                  font-size: 1rem;
                  width: 310px;
               }
            }

            ul li {
               font-size: 1.1rem;
            }
         }
      }
   }
}
