.layout {
   width: 90%;
   margin: 6rem auto 1rem auto;
}

.layout > .titleBox {
   display: flex;
   align-items: center;
}

.layout > .titleBox > .icon {
   font-size: 1.55rem;
   color: var(--black);
}

.layout > .titleBox > .title {
   font-size: 1.8rem;
}

.layout > .subTitle {
   font-weight: 400;
}

.kitchen {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 90%;
   height: auto;
   margin: -2rem auto;
}

.kitchen > .linkToBtn {
   max-width: 240px;
   width: 100%;
   height: 50px;
   margin: 2rem 0;
   font-size: 1.2rem;
   border-radius: 25px;
   background-color: var(--primary);
   border: 1px solid var(--primary);
   box-shadow: 0 8px 16px rgba(14, 12, 12, 0.06);
   cursor: pointer;
}

.cooking {
   width: 90%;
   height: auto;
   margin: 0 auto;
}

.cooking > .title {
   margin: 0.5rem 0;
}

.cooking > .container {
   display: flex;
   align-items: center;
}

.cooking > .container > .card {
   max-width: 115px;
   width: 100%;
   border-radius: 15px;
   background-color: #fff;
   border: 1px solid var(--textColor);
   box-shadow: 0 8px 16px rgba(14, 12, 12, 0.06);
}

.cooking > .container > .card > .dateInput {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   position: relative;
   width: 90%;
   height: 90%;
   margin: 0 auto;
}

/* Preparar Platos */

.cooking > .products,
.cooking > .orders {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 90%;
   max-width: 440px;
   margin: 1rem auto 5rem auto;
}

.cooking > .products > .product {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
   width: 100%;
   height: 140px;
   margin: 0.6rem 0;
   border-radius: 25px;
   background-color: #fff;
   box-shadow: 0 8px 16px rgb(35 31 32 / 6%);
}

.cooking > .products > .product > .card {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   width: 95%;
   height: 90%;
}

.cooking > .products > .product > .card > .nextImage {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 40%;
   height: 95%;
}

.cooking > .products > .product > .card > .nextImage img {
   border-radius: 25px;
   object-fit: cover;
   width: 100%;
   height: 100%;
}

.cooking > .products > .product > .card > .info {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: flex-start;
   width: 60%;
   height: 100%;
   margin-left: 0.5rem;
   padding: 1rem 0;
}

.cooking > .products > .product > .card > .info > .name {
   width: 90%;
}

.cooking > .products > .product > .card > .info > .quantity {
   font-size: 1.5rem;
   font-weight: 500;
   color: var(--primary);
}

/* Preparar Pedidos */

.cooking > .orders > .order {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
   width: 100%;
   height: 80px;
   margin: 0.6rem 0;
   border: 1px solid var(--textColor);
   border-radius: 25px;
   background-color: #fff;
   box-shadow: 0 8px 16px rgb(35 31 32 / 6%);
   cursor: pointer;
}

.cooking > .orders > .order > .card {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-between;
   width: 90%;
   height: 80%;
}

.cooking > .orders > .order > .card > .info {
   width: 100%;
   height: 100%;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}

@media (min-width: 720px) {
   .kitchen {
      flex-direction: row;
      align-items: center;
   }

   .kitchen > .linkToBtn {
      margin-right: 3rem;
   }

   .cooking > .products,
   .cooking > .orders {
      max-width: none;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
   }

   .cooking > .products > .product,
   .cooking > .orders > .order {
      width: 45%;
      margin: 0.6rem 1rem;
   }
}

@media (min-width: 1050px) {
   .cooking > .products > .product {
      width: 30%;
   }

   .cooking > .orders > .order {
      width: 20%;
   }
}
