.orderDialog {
   position: fixed;
   top: 5px;
   left: 50%;
   transform: translateX(-50%);
   max-width: 550px;
   width: 95vw;
   height: 98vh;
   background-color: rgba(255, 255, 255);
   border-radius: 25px;
   border: 1px solid var(--textColor);
   z-index: 100;
}

.orderDialog > .container {
   width: 90%;
   margin: 1rem auto;
}

.orderDialog > .container > .title {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0.5rem 0;
}

.orderDialog > .container > .title > span {
   color: var(--black);
   font-weight: 500;
}

.orderDialog > .container > .title > .closeDialog {
   color: var(--primary);
   font-size: 1.2rem;
   cursor: pointer;
}

.orderDialog > .container > .details,
.orderDialog > .container > .products {
   padding: 1.5rem 0;
   border-top: 1px solid var(--textColor);
   font-size: 0.9rem;
}

.orderDialog > .container > .products {
   height: calc(98vh - 250px);
   overflow-y: auto;
}

.orderDialog > .container > .details > h3,
.orderDialog > .container > .products > h3 {
   margin: 0.5rem 0;
   color: var(--black);
}

.orderDialog > .container > .products > .product {
   display: flex;
   align-items: center;
   margin: 0.5rem 0;
}

.orderDialog > .container > .products > .product > input[type='checkbox'] {
   position: relative;
   -webkit-appearance: none;
   appearance: none;
   width: 16px;
   height: 16px;
   border: 1px solid gray;
   cursor: pointer;
   outline: none;
   transition: all 0.2s;
}

.orderDialog > .container > .products > .product > input[type='checkbox']::before {
   content: '';
   display: block;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 10px;
   height: 10px;
   background-color: transparent;
   border: 1px solid transparent;
   transition: all 0.2s;
}

.orderDialog > .container > .products > .product > input[type='checkbox']:checked::before {
   background-color: var(--primary);
   border: 1px solid var(--primary);
}

.orderDialog > .container > .products > .product > span {
   display: inline-block;
   margin-left: 0.5rem;
   font-size: 0.85rem;
}

@media (min-width: 720px) {
   .orderDialog > .container > .title > span {
      font-size: 1.1rem;
   }

   .orderDialog > .container > .details,
   .orderDialog > .container > .products {
      font-size: 1rem;
   }

   .orderDialog > .container > .products > .product > span {
      font-size: 0.95rem;
   }
}
