.linkTo {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.linkTo > .linkButton {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   width: 100%;
   border: none;
   letter-spacing: 1.5px;
   transition: all 0.2s ease-in-out;
}

.linkTo > .linkButton:focus,
.linkTo > .linkButton:hover {
   background-color: hsla(0, 0%, 100%, 0.2);
   padding-right: 55px;
}

.linkTo > .linkButton > .text {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   height: 20px;
}

.linkTo > .linkButton > .icon {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 20px;
}

@media (min-width: 720px) {
   .linkTo > .linkButton {
      font-size: 1.1rem;
   }
}
