.linkTo {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 3rem;
}

.linkTo > .linkButton {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   padding: 10px 55px 10px 40px;
   letter-spacing: 1.5px;
   border-color: var(--white);
   color: var(--white);
}

.linkTo > .linkButton > .icon {
   position: absolute;
   margin-left: 7rem;
   font-size: 1.6rem;
   color: var(--white);
}

@media (min-width: 720px) {
   .linkTo > .linkButton {
      padding: 10px 40px;
      transition: all 0.2s ease-in-out;
   }

   .linkTo > .linkButton:hover {
      background-color: hsla(0, 0%, 100%, 0.2);
      border-color: hsla(0, 0%, 100%, 0.05);
      padding-right: 55px;
   }

   .linkTo > .linkButton > .icon {
      opacity: 0;
      margin-left: 5rem;
      transition: all 0.2s ease-in-out;
   }

   .linkTo > .linkButton:hover > .icon {
      opacity: 1;
      margin-left: 7rem;
      z-index: 10;
   }
}
