.cartList {
   width: 100%;
}

.cartList > .product {
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   width: 100%;
   margin: 1rem 0;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
   width: 100%;
   height: 140px;
   margin: 0.6rem 0;
   border-radius: 25px;
   background-color: #fff;
   box-shadow: 0 8px 16px rgb(35 31 32 / 6%);
}

.cartList > .product > .details {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   width: 100%;

   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   width: 95%;
   height: 90%;
}

.cartList > .product > .details > .nextImage {
   display: flex;
   justify-content: center;
}

.cartList > .product > .details > .nextImage img {
   object-fit: cover;
   border-radius: 12px;
}

.cartList > .product > .details > .info {
   max-width: 170px;
}

.cartList > .product > .details > .info > .name {
   display: block;
   margin-bottom: 3px;
   font-size: 1rem;
}

.cartList > .product > .details > .info > .price {
   font-size: 0.9rem;
   color: grey;
   font-weight: 500;
}

/* .remove {
   position: absolute;
   left: -12px;
   top: -5px;
   font-size: 1.2rem;
   color: grey;
   cursor: pointer;
} */

@media (min-width: 720px) {
   .cartList {
      width: 45%;
   }
}
