.cart {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: 100vw;
}

.cart > .title {
   width: 95%;
   margin: 6rem auto 1rem auto;
}

.cart > .container {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 95%;
   min-height: 80vh;
   margin: 0 auto;
}
