.desktop {
   display: none;
}

.cartSummary {
   display: flex;
   align-items: center;
   position: fixed;
   bottom: 0;
   width: 100vw;
   height: 75px;
   border: 1px solid rgb(240, 240, 240);
   border-radius: 25px 25px 0 0;
   background-color: #fff;
   cursor: pointer;
   z-index: 10;
}

.cartSummary > .container {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   width: 80%;
   height: 65%;
   margin: 0 auto;
}

.cartSummary > .container > .quantity {
   font-size: 1.1rem;
   font-weight: 500;
}

.cartSummary > .container > .info {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   position: relative;
}

.cartSummary > .container > .info > .total {
   font-size: 1.3rem;
   font-weight: 500;
}

.cartSummary > .container > .info > .details {
   margin-top: -3px;
   font-size: 0.8rem;
   font-weight: 500;
   color: var(--primary);
}

.cartSummary > .container > .info > .iconDetails {
   position: absolute;
   top: -2px;
   right: -30px;
   font-size: 1.6rem;
   color: var(--textColor);
}

/* Is Touched */

.fullMenu {
   width: 100vw;
   height: 100vh;
   position: fixed;
   top: 0;
   padding-bottom: 3rem;
   background-color: #fff;
   overflow: auto;
   z-index: 10;
}

.fullMenu > .top {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   width: 90%;
   margin: 0 auto;
   margin-top: 2rem;
}

.fullMenu > .top > .title {
   color: var(--black);
   font-size: 1.1rem;
}

.fullMenu > .top > .closeMenu {
   display: flex;
   cursor: pointer;
}

.fullMenu > .top > .closeMenu > .icon {
   font-size: 1.4rem;
   color: var(--black);
   border: 1px solid var(--black);
   border-radius: 50%;
}

.fullMenu > .edit {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   width: 90%;
   margin: 1rem auto;
}

.fullMenu > .edit > .editIcon {
   margin-right: 5px;
   font-size: 0.9rem;
   color: var(--primary);
   cursor: pointer;
}

.fullMenu > .edit > span {
   font-size: 0.9rem;
   font-weight: 500;
   text-decoration: underline;
   color: var(--primary);
   cursor: pointer;
}

@media (min-width: 720px) {
   .desktop {
      display: block;
   }

   /* TODO: Agregar box shadow */
   .cart {
      position: fixed;
      top: 50%;
      right: 10px;
      padding: 15px 15px;
      border-radius: 3px;
      color: white;
      background-color: rgb(25, 25, 25);
      cursor: pointer;
   }

   .cart > .icon {
      font-size: 1.1rem;
   }

   .cart > .quantity {
      position: absolute;
      top: -15px;
      left: 3px;
      padding: 4px;
      font-size: 0.8rem;
      border: 1px solid white;
      border-radius: 50%;
      background-color: #2196f3;
   }

   /* Is Touched */

   .fullMenu {
      width: 19%;
      min-width: 350px;
      height: calc(100vh - 110px);
      right: 0;
      background-color: rgb(10, 10, 10);
   }

   .fullMenu > .top > .closeMenu {
      cursor: pointer;
   }

   .fullMenu > .selectedMeals {
      overflow: visible;
   }

   .cartSummary {
      right: 0;
      width: 19%;
      min-width: 350px;
      background-color: rgb(10, 10, 10);
   }

   .cartSummary > .container > .linkTo {
      cursor: pointer;
   }
}
