.cartList {
   width: 100%;
}

.cartList > .product {
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   width: 100%;
   margin: 1rem 0;
}

.cartList > .product > .details {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   width: 100%;
}

.cartList > .product > .details > .nextImage {
   display: flex;
   justify-content: center;
}

.cartList > .product > .details > .nextImage img {
   object-fit: cover;
   border-radius: 12px;
}

.cartList > .product > .details > .info {
   max-width: 160px;
}

.cartList > .product > .details > .info > .name {
   display: block;
   margin-bottom: 3px;
   font-size: 0.9rem;
}

.cartList > .product > .details > .info > .price {
   font-size: 0.9rem;
   color: grey;
   font-weight: 500;
}

.remove {
   position: absolute;
   left: -12px;
   top: -5px;
   font-size: 1.2rem;
   color: grey;
   cursor: pointer;
}

@media (min-width: 720px) {
   .cartList {
      width: 45%;
   }
}
