.checkout {
   width: 100vw;
   height: 100vh;
   background-color: var(--white);
}

.checkout > .container {
   width: 90%;
   margin: 0 auto;
   margin-top: 4rem;
   padding: 1rem 0 3rem 0;
}

.checkout > .container > .deliveryAddress,
.checkout > .container > .discounts,
.checkout > .container > .delivery {
   width: 100%;
   margin: 2rem 0;
   border-radius: 15px;
   background-color: #fff;
   box-shadow: 0 8px 16px rgb(35 31 32 / 6%);
}

.checkout > .container > .deliveryAddress {
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 110px;
   cursor: pointer;
}

.checkout > .container > .deliveryAddress > .info {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   position: relative;
   width: 90%;
   height: 90%;
   margin: 0 auto;
}

.checkout > .container > .deliveryAddress > .info > .title {
   padding-bottom: 15px;
   font-size: 1.1rem;
   font-weight: 600;
   color: var(--black);
   border-bottom: 1px solid rgb(220, 220, 220);
}

.checkout > .container > .deliveryAddress > .info > .address {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   position: relative;
}

.checkout > .container > .deliveryAddress > .info > .address > .iconMap,
.checkout > .container > .discounts > .info > .iconDiscount,
.checkout > .container > .delivery > .info > .iconDiscount {
   width: 30px;
   height: 30px;
   padding: 6px;
   border: 1px solid rgb(230, 230, 230);
   border-radius: 50%;
   background-color: var(--primary);
   color: var(--white);
}

.checkout > .container > .deliveryAddress > .info > .address > .text,
.checkout > .container > .discounts > .info > .text {
   width: 90%;
   margin-left: 1rem;
   font-size: 0.9rem;
   font-weight: 500;
}

.checkout > .container > .deliveryAddress > .info > .address > .iconRight,
.checkout > .container > .discounts > .info > .iconRight {
   font-size: 1.2rem;
   font-weight: 700;
   color: var(--primary);
}

.checkout > .container > .discounts,
.checkout > .container > .delivery {
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 70px;
   cursor: pointer;
}

.checkout > .container > .discounts > .info,
.checkout > .container > .delivery > .info {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   position: relative;
   width: 90%;
   margin: 0 auto;
}

.checkout > .container > .delivery > .info > .date {
   width: 90%;
   margin-left: 1rem;
   font-size: 1rem;
   font-weight: 500;
}
