.checkout {
   width: 100vw;
   height: 100vh;
   background-color: var(--white);
}

.checkout > .container {
   max-width: 440px;
   width: 90%;
   margin: 0 auto;
   margin-top: 4rem;
   padding: 1rem 0 4rem 0;
}

.checkout > .container > .selection > .deliveryAddress,
.checkout > .container > .selection > .card {
   width: 100%;
   margin: 2rem 0;
   border-radius: 15px;
   background-color: #fff;
   box-shadow: 0 8px 16px rgb(35 31 32 / 6%);
}

.checkout > .container > .selection > .deliveryAddress {
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 110px;
   cursor: pointer;
}

.checkout > .container > .selection > .deliveryAddress > .info {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   position: relative;
   width: 90%;
   height: 90%;
   margin: 0 auto;
}

.checkout > .container > .selection > .deliveryAddress > .info > .title {
   padding-bottom: 15px;
   font-size: 1.1rem;
   font-weight: 600;
   color: var(--black);
   border-bottom: 1px solid rgb(220, 220, 220);
}

.checkout > .container > .selection > .deliveryAddress > .info > .address {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   position: relative;
}

.checkout > .container > .selection > .deliveryAddress > .info > .address > .iconMap,
.checkout > .container > .selection > .card > .info > .iconDiscount {
   width: 30px;
   height: 30px;
   padding: 6px;
   border: 1px solid rgb(230, 230, 230);
   border-radius: 50%;
   background-color: var(--primary);
   color: var(--white);
}

.checkout > .container > .selection > .deliveryAddress > .info > .address > .text,
.checkout > .container > .selection > .card > .info > .text {
   width: 90%;
   margin-left: 1rem;
   font-size: 0.9rem;
   font-weight: 500;
}

.checkout > .container > .selection > .deliveryAddress > .info > .address > .iconRight,
.checkout > .container > .selection > .card > .info > .iconRight {
   font-size: 1.2rem;
   font-weight: 700;
   color: var(--primary);
}

.checkout > .container > .selection > .card {
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 70px;
   cursor: pointer;
}

.checkout > .container > .selection > .card > .info {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   position: relative;
   width: 90%;
   margin: 0 auto;
}

.checkout > .container > .selection > .card > .info > .date {
   width: 90%;
   margin-left: 1rem;
   font-size: 1rem;
   font-weight: 500;
}

.checkout > .container > .summary > .submit {
   position: relative;
   width: 99%;
   margin: 2.5rem auto;
}

.checkout > .container > .summary > .submit > .error {
   display: block;
   position: absolute;
   top: -30px;
   width: 100%;
   text-align: center;
   font-size: 0.95rem;
   color: var(--error);
}

.checkout > .container > .selection > .selectedProducts {
   display: none;
}

@media (min-width: 720px) {
   .checkout > .container > .selection > .selectedProducts {
      display: flex;
   }

   .checkout {
      height: calc(100vh - 5rem);
   }

   .checkout > .container {
      display: flex;
      justify-content: space-evenly;
      max-width: 1040px;
      margin: 4rem auto;
      padding: 0;
   }

   .checkout > .container > .selection {
      width: 45%;
   }

   .checkout > .container > .summary {
      width: 45%;
   }
}
