.crossSelling {
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   width: 95%;
   margin: 0 auto;
   border-top-left-radius: 35px;
   border-top-right-radius: 35px;
   background-color: var(--white);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   transform: translateY(100%);
   animation: bottomToTop 0.8s 2s cubic-bezier(0.77, 0, 0.175, 1) forwards;
   z-index: 1000;
}

@keyframes bottomToTop {
   0% {
      transform: translateY(100%);
   }
   100% {
      transform: translateY(0);
   }
}

@keyframes zoomOut {
   0% {
      transform: translate(-50%, -50%) scale(1);
   }
   100% {
      transform: translate(-50%, -50%) scale(0);
   }
}

.crossSelling > .container {
   padding: 2rem 1rem;
}

.crossSelling > .container > .title {
   width: 93%;
   margin: 0 auto;
   font-size: 1.7rem;
   font-weight: 400;
   color: var(--primary);
}

.crossSelling > .container > .text {
   width: 93%;
   margin: 0.5rem auto;
   font-size: 1.1rem;
   font-weight: 400;
   color: var(--primary);
}

.crossSelling > .container > .products {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   width: 100%;
   margin: 1rem 0;
}

.product {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 30%;
   margin: 0.5rem 0;
}

.product > .info {
   cursor: pointer;
}

.product > .info > .nextImage {
   position: relative;
   width: 70%;
   margin: auto;
}

.product > .info > .nextImage img {
   width: 100%;
   object-fit: cover;
   border-radius: 10px;
}

.product > .info > .nextImage > .tagImageWrapper {
   position: absolute;
   top: 0;
   left: 0;
}

.product > .info > .name {
   width: 100%;
   text-align: center;
   font-size: 0.9rem;
   font-weight: 400;
   color: var(--primary);
   line-height: 1;
   margin: 0.4rem 0 0.5rem 0;
}

.product > .info > .priceContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   line-height: 1;
   margin: 0.2rem 0 0.5rem 0;
}

.product > .info > .priceContainer > .price {
   font-size: 0.8rem;
   font-weight: 600;
   color: var(--primary);
}

.product > .info > .priceContainer > .noPrice {
   font-size: 0.8rem;
   font-weight: 600;
   color: var(--primary);
   text-decoration-line: line-through;
}

.product > .info > .priceContainer > .discount {
   font-size: 0.9em;
   font-weight: 600;
   color: var(--primaryHover);
}

.product > .addToCart {
   font-weight: 400;
   background-color: var(--primary);
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

.product > .addToCart > p {
   padding: 0 0.4rem;
   font-size: 0.6rem;
   color: var(--white);
}

.crossSelling > .container > .close {
   position: absolute;
   bottom: 10px;
   left: 50%;
   font-weight: 500;
   text-decoration: underline;
   color: var(--primary);
   cursor: pointer;
   transform: translate(-50%, -50%);
}

@media (min-width: 900px) {
   .crossSelling {
      width: 50%;
   }

   .product > .info > .name,
   .product > .info > .price {
      font-size: 1rem;
   }

   .product > .addToCart > p {
      font-size: 0.8rem;
   }
}

@media (min-width: 1200px) {
   .crossSelling {
      width: 40%;
   }

   .crossSelling > .container > .close {
      font-size: 1.1rem;
   }
}

@media (min-width: 1400px) {
   .crossSelling {
      width: 35%;
   }
}

@media (min-width: 1600px) {
   .crossSelling {
      width: 30%;
   }
}
