.offers {
   width: 90%;
   margin: 1.5rem auto;
}

.offers > .container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   max-width: 440px;
   margin: 1rem auto;
}

.offers > .container > .title {
   font-size: 1.1rem;
   font-weight: bold;
}

.offers > .container > span {
   font-weight: 500;
   color: var(--primary);
   cursor: pointer;
}

.nextImage {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0 auto;
   border-radius: 36px;
   max-width: 250px;
   width: 70%;
   height: 100%;
   overflow: hidden;
   box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.08);
}

.nextImage span {
   position: unset !important;
}

.nextImage img {
   height: unset !important;
   width: 100% !important;
   position: relative !important;
   border-radius: 36px !important;
}

@media (min-width: 720px) {
   .offers {
      max-width: 850px;
   }

   .offers > .container {
      max-width: 750px;
   }

   .offers > .container > .title {
      font-size: 1.3rem;
   }

   .offers > .container > span {
      font-size: 1.3rem;
   }

   .nextImage {
      max-width: 320px;
      width: 100%;
   }
}
