.emptyCart {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin-top: 4rem;
   height: calc(100vh - 10rem);
}

.emptyCart > .icon {
   font-size: 6rem;
}

.emptyCart > .container {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 80%;
}

.emptyCart > .container > .title {
   margin-bottom: 0.5rem;
   font-size: 1.3rem;
}

.emptyCart > .container > p {
   display: block;
   margin: 0.1rem 0;
   text-align: center;
   font-size: 0.95rem;
}

.emptyCart > .container > .button {
   margin-top: 1.5rem;
}

@media (min-width: 720px) {
   .emptyCart {
      flex-direction: row;
   }

   .emptyCart > .icon {
      font-size: 10rem;
   }
}
