.error404 {
   width: 100vw;
   height: calc(100vh - 7rem);
}

.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 90vw;
   margin: 7rem auto;
}

.container > .title {
   margin: 0;
   font-weight: 400;
   font-size: 4rem;
}

.container > .text {
   text-align: center;
   font-size: 1.3rem;
   margin: 2rem 0;
}

.container > .faqs {
   margin: 3rem 0;
   text-align: center;
   line-height: 23px;
}

.container > .faqs > span {
   font-weight: 500;
   text-decoration: underline;
}

@media (min-width: 720px) {
   .error404 {
      width: 100%;
      height: calc(100vh - 10rem);
   }

   .container {
      margin: 10rem auto;
   }

   .container > .faqs {
      max-width: 420px;
      line-height: 25px;
   }

   .container > .faqs > span {
      cursor: pointer;
   }
}
