.footer {
   background-image: url(/img/footer-mobile.jpg);
   background-size: cover;
   max-height: 100%;
   padding: 70px 45px 18px;
   color: var(--white);
   background-color: #231f20;
}

.footer > .info {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.footer > .info > .footerBrand {
   width: 100%;
}

.footer > .info > .footerBrand > .title {
   text-align: center;
   font-family: 'Gilroy';
   font-style: normal;
   font-size: 24px;
   font-weight: 800;
   color: var(--white);
}

.footer > .info > .footerBrand > .slogan {
   display: flex;
   justify-content: center;
   margin: -10px 0 30px;
   font-family: 'Reinata';
   font-style: normal;
   font-weight: 400;
   font-size: 78.0059px;
   line-height: 94px;
   color: var(--secondary);
   transform: rotate(-3.43deg);
}

.footer > .info > .columnList {
   display: flex;
   margin-top: 0;
   text-align: center;
   gap: 38px;
}

.footer > .info > .columnList > .list {
   margin: 0;
   text-align: center;
   list-style: none;
}

.footer > .info > .columnList > .list > li {
   margin: 35px 0;
   font-size: 18px;
   font-weight: 500;
   color: var(--white);
}

.footer > .info > .contact {
   margin-top: 36px;
   text-align: center;
}

.footer > .info > .contact > .support {
   display: flex;
   flex-direction: column-reverse;
}

.footer > .info > .contact > .support > .logo {
   max-width: 100%;
   margin: 24px 0;
}

.footer > .info > .contact > .support > .mail {
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 26px;
   color: var(--white);
}

.footer > .info > .contact > .socialMedia {
   display: flex;
   justify-content: center;
   gap: 32px;
   padding: 0;
   margin: 0 0 84px;
}

.footer > .info > .contact > .socialMedia > .icon {
   display: flex;
   align-items: center;

   padding: 11px;
   font-size: 2.7rem;
   color: var(--white);
   border-radius: 50%;
   border: 0.5px solid var(--white);
}

.footer > .legal {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 0;
   margin-bottom: 5px;
   gap: 12px;
   color: var(--white);
}

@media (min-width: 720px) {
   .footer {
      background-image: url(/img/footer-desktop.jpg);
      padding: 75px 50px 28px;
   }

   .footer > .info {
      flex-direction: row;
      justify-content: space-between;
      max-width: 1440px;
      margin: 0 auto;
   }

   .footer > .info > .footerBrand {
      width: 50%;
   }

   .footer > .info > .footerBrand > .title {
      margin: 0 0 0 28px;
      font-size: 40.303px;
      text-align: left;
   }

   .footer > .info > .footerBrand > .slogan {
      justify-content: flex-start;
      margin-left: 3rem;
      color: var(--white);
      transform: none;
   }

   .footer > .info > .columnList {
      margin-top: 36px;
      gap: 87px;
   }

   .footer > .info > .columnList > .list > li {
      margin: 20px 0;
      cursor: pointer;
   }

   .footer > .info > .contact > .support {
      flex-direction: column;
   }

   .footer > .info > .contact > .support > .logo {
      max-width: 240px;
      margin-bottom: 32px;
   }

   .footer > .info > .contact > .socialMedia {
      margin: 66px 0 0;
   }

   .footer > .legal {
      justify-content: center;
      max-width: 1440px;
      margin-top: 41px;
      margin-bottom: 0;
      margin: 41px auto 0;
      gap: 26px;
   }
}
