:root {
   --white: rgba(250, 250, 250, 0.9);
   --black: rgba(10, 10, 10, 0.9);
   --primary: rgb(125, 147, 62);
   --secondary: rgba(45, 170, 150, 0.75);
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html,
body {
   font-family: -apple-system, Roboto, Segoe UI, Ubuntu, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
}

h1 {
   font-size: 2rem;
}

a {
   color: inherit;
   text-decoration: none;
}

nav {
   position: absolute;
   top: 0;
   width: 100%;
   height: 75px;
   z-index: 99;
}

main {
   width: 100vw;
   max-width: 1440px;
}

footer {
   width: 100vw;
}

button {
   padding: 10px 25px;
   font-size: 1.2rem;
   border-radius: 25px;
   background-color: transparent;
   cursor: pointer;
}

@keyframes fadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

@-webkit-keyframes fadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

.fadeIn {
   -webkit-animation-duration: 0.5s;
   animation-duration: 0.5s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;

   -webkit-animation-name: fadeIn;
   animation-name: fadeIn;
}

.hide {
   display: none;
}

@media (prefers-color-scheme: light) {
   html {
      color-scheme: light;
   }
   body {
      color: black;
      background: white;
   }
}
