.intro {
   background-color: rgba(180, 180, 180, 0.1);
   height: 32rem;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
}

.intro > .text {
   width: 85vw;
   margin: auto;
   margin-bottom: 2rem;
}

.intro > .text > p {
   text-align: center;
   color: var(--textColor);
}

@media (min-width: 720px) {
   .intro {
      height: 18rem;
   }
   .intro > .text {
      max-width: 820px;
      margin-bottom: 3rem;
   }
   .intro > .text > p {
      font-size: 1.3rem;
      text-align: center;
      color: var(--textColor);
      line-height: 125%;
   }
}
