.box {
   display: flex;
   justify-content: center;
   align-items: center;
   color: var(--textColor);
}

.box > .iconButton {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.3rem;
}

.box > .counter {
   width: 40px;
   text-align: center;
   font-size: 1.1rem;
}

@media (min-width: 720px) {
   .box {
      justify-content: flex-start;
   }

   .box > .iconButton {
      font-size: 1.5rem;
      cursor: pointer;
   }

   .box > .counter {
      font-size: 1.3rem;
   }
}
