@import url('http://fonts.cdnfonts.com/css/reinata');
@import url('http://fonts.cdnfonts.com/css/gilroy-bold');

.landing {
   width: 100vw;
}

.viandascookpapa {
   width: 100vw;
   height: 100rem;
}
