@import url('http://fonts.cdnfonts.com/css/reinata');
@import url('http://fonts.cdnfonts.com/css/gilroy-bold');

.landing {
   width: 100vw;
}

.viandascookpapa {
   width: 100%;
   height: 100rem;
}

@media (min-width: 720px) {
   .landing {
      width: 100%;
   }
}
