.loyalty {
   width: 100vw;
   height: 100%;
}

.loyalty > .intro {
   background-color: var(--primaryHover);
}

.loyalty > .intro > .container {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 100%;
   margin-top: 4rem;
}

.loyalty > .intro > .container > .videoIntro {
   position: relative;
   padding: 0;
   width: 100%;
   max-width: 100%;
   height: 303px;
   overflow: hidden;
}

.loyalty > .intro > .container > .videoIntro > video {
   width: 100%;
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   object-fit: cover;
}

.loyalty > .intro > .container > .textIntro {
   padding: 35px 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 0;
}

.loyalty > .intro > .container > .textIntro > h1 {
   color: var(--white);
   text-align: center;
   font-size: 1.8rem;
}

.loyalty > .intro > .container > .textIntro > p {
   color: var(--white);
   text-align: center;
}

.loyalty > .intro > .container > .textIntro > .btn {
   width: 90%;
   margin: 2rem auto;
}

.loyalty > .presentation {
   width: 90%;
   margin: 0 auto;
   padding: 2rem 20px;
   text-align: center;
}

.loyalty > .rewards {
   display: flex;
   flex-direction: column;
   width: 90%;
   margin: 0 auto;
}

.loyalty > .rewards > .reward {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}

.loyalty > .rewards > .reward > .nextImage {
   position: relative;
   width: 100%;
   height: 100%;
   text-align: center;
}

.loyalty > .rewards > .reward > .nextImage img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.loyalty > .rewards > .reward > .title {
   max-width: 100%;
   width: 100%;
   text-align: center;
   color: var(--secondary);
}

.loyalty > .rewards > .reward > .text {
   width: 90%;
   margin: 0 auto;
   text-align: center;
}

.loyalty > .btn {
   width: 90%;
   margin: 3rem auto;
}

@media (min-width: 720px) {
   .loyalty {
      width: 99vw;
      height: 100%;
   }

   .loyalty > .intro > .container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      max-width: 1100px;
      height: 570px;
      margin: 0 auto;
   }

   .loyalty > .intro > .container > .videoIntro {
      height: 303px;
      height: 100%;
      max-width: 500px;
   }

   .loyalty > .intro > .container > .textIntro {
      max-width: 45%;
      margin-top: 4rem;
      padding: 0;
   }

   .loyalty > .intro > .container > .textIntro > h1 {
      color: var(--white);
      text-align: center;
      font-size: 2.5rem;
   }

   .loyalty > .intro > .container > .textIntro > p {
      color: var(--white);
      text-align: center;
   }

   .loyalty > .intro > .container > .textIntro > .btn {
      width: 50%;
      margin: 2rem auto;
      max-width: 480px;
   }

   .loyalty > .presentation {
      max-width: 720px;
   }

   .loyalty > .rewards {
      max-width: 1100px;
      margin: 1rem auto 4rem;
      padding: 0;
      flex-direction: row;
      flex-wrap: wrap;
   }

   .loyalty > .rewards > .reward {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin: 1rem 0;
      padding: 2rem;
      width: 30%;
      margin: 0 auto;
   }

   .loyalty > .rewards > .rewardReverse {
      flex-direction: row;
   }

   .loyalty > .rewards > .reward > .nextImage {
      width: 100%;
      max-width: 480px;
      height: 100px;
   }

   .loyalty > .rewards > .reward > .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 480px;
      margin: 0;
      padding: 0;
   }

   .loyalty > .rewards > .reward > .text {
      margin: 1rem auto;
   }

   .loyalty > .btn {
      width: 50%;
      margin: 0 auto 5rem auto;
      max-width: 380px;
   }
}
