.navbar {
   position: fixed;
   top: 0;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   width: 100%;
   z-index: 30;
}

.scroll {
   background-color: rgb(100, 146, 14);
}

.navbar > .container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   height: 5rem;
   padding: 1rem 0.5rem;
}

.navbar > .container > .menu {
   display: none;
}

.navbar > .container > .logo {
   width: 35%;
   cursor: pointer;
}

.navbar > .container > .logo > .nextImage {
   width: 100%;
}

.navbar > .container > .logo > .nextImage > .openInMobile {
   display: block;
}

.navbar > .container > .logo > .nextImage > .openInDesktop {
   display: none;
}

.navbar > .container > .hamburgerMenu {
   cursor: pointer;
}

.navbar > .container > .hamburgerMenu > .btn {
   position: relative;
   width: 30px;
   height: 14px;
   border: none;
   background: none;
   padding: 0;
}

.navbar > .container > .hamburgerMenu > .btn > span {
   position: absolute;
   left: 0px;
   top: 0px;
   width: 75%;
   height: 0.1rem;
   background: var(--white);
   transition: 0.1s ease-in;
}

.navbar > .container > .hamburgerMenu > .open > span {
   background: var(--black);
}

.navbar > .container > .hamburgerMenu > .btn > span:nth-child(2) {
   top: 7px;
}

.navbar > .container > .hamburgerMenu > .btn > span:nth-child(3) {
   top: 13.5px;
}

.navbar > .container > .hamburgerMenu > .open > span:first-child {
   transform: rotate(45deg);
   top: 10px;
}

.navbar > .container > .hamburgerMenu > .open > span:nth-child(2) {
   width: 0%;
   opacity: 0;
}

.navbar > .container > .hamburgerMenu > .open > span:nth-child(3) {
   transform: rotate(-45deg);
   top: 10px;
}

@media (min-width: 1200px) {
   /* .navbarWeb {
      position: relative;
      padding: 50px 0;
      background-color: rgb(10, 10, 10);
   } */

   /* .navbarAuth {
      background-color: transparent;
   } */

   .navbar > .container {
      height: 7rem;
   }

   .navbar > .container > .logo {
      margin-left: 0;
      top: 0;
      width: 100%;
      min-width: 220px;
      max-width: 380px;
   }

   .navbar > .container > .logo > .nextImage > .openInMobile {
      display: none;
   }

   .navbar > .container > .logo > .nextImage > .openInDesktop {
      display: block;
   }

   .navbar > .container > .menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 97px;
      padding-right: 50px;
   }

   .navbar > .container > .menu > .container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 60%;
   }

   .navbar > .container > .menu .linkItem {
      position: relative;
      margin: 0 1rem;
      text-decoration: none;
      overflow: hidden;
      cursor: pointer;
   }

   .navbar > .container > .menu .linkItem > span {
      display: inline-block;
      position: relative;
      color: var(--white);
      font-size: 1.4rem;
   }

   .navbar > .container > .menu .linkItem > span::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: var(--white);
      transform: scaleX(0);
      transition: transform 0.2s ease;
      transform-origin: bottom left;
   }

   .navbar > .container > .menu .linkItem > .desktopItem::after {
      background-color: var(--black);
   }

   .navbar > .container > .menu .linkItem:hover > span::after {
      transform: scaleX(1);
   }

   .navbar > .container > .menu .linkItem > .auth {
      padding: 7px 15px;
      font-size: 1.3rem;
      letter-spacing: unset;
      transition: all 0.2s ease-in-out;
   }

   .navbar > .container > .menu .linkItem > .auth:hover {
      background-color: hsla(0, 0%, 100%, 0.2);
   }

   .navbar > .container > .menu > .account {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 40%;
   }

   .navbar > .container > .menu > .dropdown {
      position: relative;
      display: inline-block;
   }

   .dropdownContent {
      display: none;
      position: absolute;
      margin-left: 1rem;
      padding: 5px 0;
      border-radius: 20px;
      background-color: rgba(255, 255, 255, 0.9);
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
   }

   .dropdownContent a {
      padding: 1rem 0;
      display: block;
      color: var(--black);
   }

   .dropdownContent a .desktopItem {
      color: var(--black) !important;
   }

   .dropdown:hover .dropdownContent {
      display: block;
   }

   .navbar > .container > .hamburgerMenu {
      display: none;
   }
}
