.navbarWeb {
   position: relative;
   background-color: rgb(10, 10, 10);
}

.navbarAuth {
   background-color: transparent;
}

.navbar {
   position: relative;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   width: 100%;
   height: 100%;
   z-index: 30;
}

.navbar > .logo {
   position: absolute;
   margin-left: auto;
   margin-right: auto;
   left: 0;
   right: 0;
   width: 50%;
   min-width: 170px;
   max-width: 220px;
   cursor: pointer;
}

.navbarAuth > .logo {
   min-width: 260px;
   max-width: 420px;
   z-index: 200;
}

.navbar > .logo > .nextImage {
   width: 100%;
   z-index: 200;
}

.navbar > .logo > .nextImage > .openInMobile {
   display: block;
}

.navbar > .logo > .nextImage > .openInDesktop {
   display: none;
}

.navbar > .hamburgerMenu {
   margin-right: 15px;
   cursor: pointer;
}

.navbar > .hamburgerMenu > .btn {
   position: relative;
   width: 30px;
   height: 14px;
   border: none;
   background: none;
   padding: 0;
}

.navbar > .hamburgerMenu > .btn > span {
   position: absolute;
   left: 0px;
   top: 0px;
   width: 75%;
   height: 0.1rem;
   background: var(--white);
   transition: 0.1s ease-in;
}

.navbar > .hamburgerMenu > .open > span {
   background: var(--black);
}

.navbar > .hamburgerMenu > .btn > span:nth-child(2) {
   top: 7px;
}

.navbar > .hamburgerMenu > .btn > span:nth-child(3) {
   top: 13.5px;
}

.navbar > .hamburgerMenu > .open > span:first-child {
   transform: rotate(45deg);
   top: 10px;
}

.navbar > .hamburgerMenu > .open > span:nth-child(2) {
   width: 0%;
   opacity: 0;
}

.navbar > .hamburgerMenu > .open > span:nth-child(3) {
   transform: rotate(-45deg);
   top: 10px;
}

@media (min-width: 720px) {
   .navbarWeb {
      position: relative;
      padding: 50px 0;
      background-color: rgb(10, 10, 10);
   }

   .navbarAuth {
      background-color: transparent;
   }

   .navbar > .logo {
      margin-left: 0;
      top: 0;
      width: 100%;
      min-width: 220px;
      max-width: 380px;
   }

   .navbar > .logo > .nextImage > .openInMobile {
      display: none;
   }

   .navbar > .logo > .nextImage > .openInDesktop {
      display: block;
   }

   .navbar > .menu {
      margin-right: 35px;
   }

   .navbar > .menu > .menuIcon {
      font-size: 37px;
      color: var(--white);
   }
}
