.news {
   width: 100%;
}

.news > .container {
   position: relative;
   height: 380px;
   cursor: pointer;
}

.news > .container > .desktopBanner {
   display: none;
}

@media (min-width: 420px) {
   .news > .container {
      height: 420px;
   }
}

@media (min-width: 520px) {
   .news > .container {
      height: 320px;
   }

   .news > .container > .mobileBanner {
      display: none;
   }

   .news > .container > .desktopBanner {
      display: block;
   }
}

@media (min-width: 620px) {
   .news > .container {
      height: 360px;
   }
}

@media (min-width: 720px) {
   .news > .container {
      height: 380px;
   }
}

@media (min-width: 820px) {
   .news > .container {
      height: 720px;
   }
}

@media (min-width: 1200px) {
   .news > .container {
      height: 920px;
   }
}
