.news {
   width: 100%;
}

.news > .container {
   position: relative;
   /* cursor: pointer; */
   margin-bottom: 1rem;
}

.news > .container .desktopBanner {
   display: none;
}

.news > .container .mobileBanner {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0 auto;
}

.news > .container span {
   position: unset !important;
   width: 100% !important;
   border: 10px red solid;
}

.news > .container img {
   height: unset !important;
   width: 100% !important;
   position: relative !important;
   border: 10px red solid;
}

@media (min-width: 620px) {
   .news > .container {
      height: 41vw;
      margin-bottom: 2rem;
   }

   .news > .container .mobileBanner {
      display: none;
   }

   .news > .container .desktopBanner {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
   }
}

/* News Dialog */

.newsDialog {
   position: fixed;
   top: 10%;
   left: 50%;
   transform: translateX(-50%);
   max-width: 550px;
   width: 95vw;
   height: 150px;
   background-color: rgba(255, 255, 255);
   border-radius: 25px;
   border: 1px solid var(--textColor);
   z-index: 100;
}

.newsDialog > .container {
   position: relative;
   width: 90%;
   margin: 1rem auto;
}

.newsDialog > .container > .text {
   margin-top: 3rem;
}

.newsDialog > .container > .closeDialog {
   position: absolute;
   top: 3px;
   right: 3px;
   color: var(--primary);
   font-size: 1.2rem;
   /* cursor: pointer; */
}
