.newsletter {
   width: 100%;
   padding: 0.5rem 0;
}

.newsletter > .desktopImage {
   display: none;
}

.newsletter > .mobileImage {
   width: 100%;
   text-align: center;
}

.newsletter > .mobileImage > .nextImage img {
   object-fit: cover;
}

.newsletter > .container > .title {
   margin: 1rem 0;
   text-align: center;
}

.newsletter > .container > .text {
   width: 90%;
   margin: 0 auto;
   text-align: center;
}

.newsletter > .container > form {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   width: 90%;
   max-width: 400px;
   margin: 1rem auto;
}

.newsletter > .container > form > input {
   display: block;
   width: 100%;
   padding: 15px;
   height: 50px;
   margin: 0.7rem 0;
   border-radius: 4px;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #596068;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid #ced4da;
   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.okMessage > span {
   display: block;
   font-size: 0.9rem;
   text-align: center;
   color: var(--primary);
}

.errorMessage > span {
   display: block;
   font-size: 0.9rem;
   text-align: center;
   color: var(--error);
}

.newsletter > .container > form > .btn {
   width: 55%;
   max-width: 185px;
   margin: 2rem 0;
}

.error {
   display: block;
   margin-top: 5px;
   padding-left: 5px;
   color: var(--error);
}

@media (min-width: 1100px) {
   .newsletter {
      max-width: 1100px;
      margin: 0 auto;
      position: relative;
   }

   .newsletter > .mobileImage {
      display: none;
   }

   .newsletter > .desktopImage {
      display: block;
   }

   .newsletter > .desktopImage > .nextImage {
      position: absolute;
      left: 0;
      top: 0;
      transform: translate(25%, 45%);
   }

   .newsletter > .desktopImage > .nextImage img {
      object-fit: cover;
   }

   .newsletter > .container > .text {
      max-width: 450px;
   }

   .newsletter > .container > form {
      max-width: 450px;
   }
}
