.order {
   width: 100vw;
   height: 100%;
   background-color: var(--white);
}

.order > .container {
   max-width: 440px;
   width: 90%;
   margin: 0 auto;
   margin-top: 3rem;
   padding: 1rem 0 4rem 0;
}

.order > .container > .summary > .products {
   position: relative;
}

.order > .container > .summary > .products > .repeatBtn {
   position: absolute;
   right: 8px;
   width: 170px;
   height: 30px;
   font-size: 0.9rem;
   background-color: var(--primary);
}

.order > .container > .summary > .products > .title,
.order > .container > .info > .checkout > .title,
.order > .container > .info > .address > .title {
   margin-bottom: 0.5rem;
   color: var(--black);
}

.order > .container > .summary > .products,
.order > .container > .info > .checkout,
.order > .container > .info > .address {
   display: flex;
   flex-direction: column;
   width: 100%;
   margin: 2rem auto;
   padding: 15px;
   border-radius: 15px;
   background-color: #fff;
   box-shadow: 0 8px 16px rgb(35 31 32 / 6%);
}

.order > .container > .info > .checkout > .summary {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   position: relative;
}

.order > .container > .info > .checkout > .summary span {
   display: block;
   margin: 0.6rem 0;
   font-size: 0.95rem;
   text-align: right;
}

.order > .container > .info > .checkout > .summary span u {
   color: var(--primary);
}

.order > .container > .info > .checkout > .summary > .discount {
   color: var(--primary);
}

/* Delivery Information */

.order > .container > .info > .address > .summary {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   position: relative;
   margin: 0.5rem 0;
}

.order > .container > .info > .address > .summary > .icon {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 35px;
   height: 35px;
   padding: 7px;
   border: 1px solid rgb(230, 230, 230);
   border-radius: 50%;
   background-color: var(--primary);
   color: var(--white);
}

.order > .container > .info > .address > .summary > .text {
   margin-left: 0.7rem;
   font-size: 0.95rem;
   border: 1px solid transparent;
}

@media (min-width: 720px) {
   .order {
      width: 100%;
      height: calc(100vh - 4rem);
   }

   .order > .container {
      display: flex;
      justify-content: space-evenly;
      max-width: 1100px;
      width: 100%;
   }

   .order > .container > .summary {
      width: 40%;
   }

   .order > .container > .info {
      width: 40%;
   }

   .order > .container > .info > .checkout,
   .order > .container > .info > .address {
      padding: 2rem;
   }
}
