.orderSummary {
   display: flex;
   flex-direction: column;
   width: 95%;
   max-width: 440px;
   margin: auto;
   margin-top: 4rem;
   padding: 15px;
   /* border: 1px solid rgba(210, 210, 210, 0.9); */
   border-radius: 10px;
   background-color: #fff;
   box-shadow: 0 8px 16px rgb(35 31 32 / 4%);
}

.orderSummary > .title {
   margin: 0.5rem 0;
   padding-bottom: 0.5rem;
   border-bottom: 1px solid rgba(210, 210, 210, 0.9);
   font-size: 1.2rem;
}

.summary {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
}

.summary span {
   display: block;
   margin: 0.6rem 0;
   font-size: 0.95rem;
   text-align: right;
}

.summaryDiscount {
   margin: 0.5rem 0;
   font-size: 0.9rem;
   text-align: center;
}

.discount {
   color: var(--primary);
}

.orderSummary > .summary > .shipping > .pointer {
   text-align: right;
   cursor: pointer;
   color: var(--primary);
}

.orderSummary > .summary > .shipping > .formCalculation {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-right: -12px;
}

.orderSummary > .summary > .shipping > .formCalculation > select,
.orderSummary > .summary > .shipping > .formCalculation > input {
   display: block;
   width: 115px;
   height: 30px;
   margin: 0.4rem 0;
   padding-left: 4px;
   border-radius: 7px;
   font-size: 0.85rem;
   font-weight: 400;
   line-height: 1.5;
   color: #596068;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid var(--primary);
   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.orderSummary > .summary > .shipping > .formCalculation > input:focus {
   color: #495057;
   background-color: #fff;
   border-color: var(--primary);
   outline: 0;
   box-shadow: 0 0 0 0.2rem rgb(118 144 46 / 25%);
}

.orderSummary > .summary > .shipping > .formCalculation > input::placeholder {
   padding-left: 4px;
   color: #495057;
}

.orderSummary > .summary > .shipping > .formCalculation > .calculateButton {
   width: 90%;
   height: 30px;
   margin: 0.5rem auto;
   font-size: 0.9rem;
   border-radius: 20px;
   border: 1px solid var(--primary);
   background-color: var(--primary);
}

.orderSummary > .summary > .shipping > .formCalculation > .selectError {
   border: 1px solid var(--error);
}

.orderSummary > .summary > .shipping > .formCalculation > .selectError:focus {
   border: none;
}

.orderSummary > .summary > .shipping > .formCalculation > .error {
   display: block;
   font-size: 0.75rem;
   margin: -0.2rem 0;
   color: var(--error);
}

.orderSummary > .cartForm {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 1rem;
}

.orderSummary > .cartForm > .inputText {
   width: 90%;
   margin: 0.5rem 0;
}

.orderSummary > .cartForm > .inputText > span {
   display: block;
   width: 100%;
   margin-bottom: 0.3rem;
}

.orderSummary > .cartForm > .inputText > input,
.orderSummary > .cartForm > .inputText > select {
   display: block;
   width: 100%;
   padding: 15px;
   height: 20px;
   border-radius: 4px;
   font-size: 0.95rem;
   font-weight: 400;
   line-height: 1.5;
   color: #596068;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid var(--primary);
   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.orderSummary > .cartForm > .inputText > input::placeholder,
.orderSummary > .cartForm > .inputText > select::placeholder {
   color: rgba(170, 170, 170, 0.9);
   font-size: 0.95rem;
}

.orderSummary > .cartForm .inputText > input:focus {
   color: #495057;
   background-color: #fff;
   border-color: var(--primary);
   outline: 0;
   box-shadow: 0 0 0 0.2rem rgb(118 144 46 / 25%);
}

.orderSummary > .checkoutButton {
   width: 60%;
   max-width: 200px;
   margin: 2rem auto 1rem auto;
}

.orderSummary > .error {
   display: block;
   text-align: center;
   font-size: 0.75rem;
   margin: -0.2rem 0;
   color: var(--error);
}

@media (min-width: 1000px) {
   .orderSummary {
      margin: 1rem 0;
   }

   .summaryDiscount {
      font-size: 1rem;
   }

   .orderSummary > .checkoutButton {
      margin: 0.5rem auto;
   }
}
