.points {
   width: 100vw;
   height: calc(100vh - 4rem);
   margin-top: 2rem;
   padding-bottom: 10rem;
   background-color: var(--white);
}

.points > .container {
   max-width: 440px;
   width: 90%;
   margin: 0 auto;
   padding: 1rem 0 5rem 0;
}

.points > .container > .balance {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
}

.points > .container > .balance > .title {
   margin: 2rem 0;
   font-size: 1.7rem;
   color: var(--black);
}

.points > .container > .balance > .userPoints {
   width: 100%;
   height: 100%;
   font-size: 1.5rem;
   text-align: center;
}

.points > .container > .balance > .userPoints > strong {
   display: inline;
   width: 100%;
   color: var(--primary);
}

.points > .container > .minimun {
   margin: 3rem 0;
   text-align: center;
}

.points > .container > .redeemPoints {
   display: flex;
   align-items: flex-end;
   justify-content: space-around;
   width: 100%;
   margin: 1rem 0;
}

.points > .container > .redeemPoints > label {
   width: 50%;
}

.points > .container > .redeemPoints p {
   margin: 0.4rem 0.3rem;
   color: var(--textColor);
}

.points > .container > .redeemPoints input {
   display: block;
   width: 100%;
   padding: 15px;
   height: 40px;
   border-radius: 4px;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #596068;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid #ced4da;
   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.points > .container > .redeemPoints input::placeholder {
   color: rgba(170, 170, 170, 0.9);
   font-size: 0.95rem;
}

.points > .container > .redeemPoints input:focus {
   color: #495057;
   background-color: #fff;
   border-color: #80bdff;
   outline: 0;
   box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.points > .container > .redeemPoints > .btn {
   width: 45%;
}

.points > .container > .error {
   display: inline-block;
   width: 100%;
   font-size: 0.9rem;
   text-align: center;
   color: var(--error);
}

.points > .container > .correct {
   display: inline-block;
   width: 100%;
   font-size: 0.9rem;
   text-align: center;
   color: var(--primary);
}

.points > .container > .conversion {
   width: 90%;
   margin: 2rem auto;
   padding: 1rem;
   text-align: center;
   border-radius: 15px;
   background-color: #fff;
   box-shadow: 0 8px 16px rgb(35 31 32 / 6%);
   border: 1px rgb(35 31 32 / 6%) solid;
}

.points > .container > .btn {
   width: 90%;
   margin: 4rem auto;
}

@media (min-width: 720px) {
   .points {
      width: 100%;
      height: 100%;
      padding-bottom: 1rem;
   }

   .points > .container {
      max-width: 720px;
      padding: 0;
   }

   .points > .container > .redeemPoints {
      max-width: 490px;
      margin: 0 auto;
   }

   .points > .container > .conversion {
      max-width: 520px;
   }
}
