.ourMenu {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   width: 100vw;
   padding: 20px;
   margin-bottom: 3rem;
}

.ourMenu > .title {
   width: 80%;
   margin-bottom: 1rem;
   text-align: center;
   color: var(--black);
}

.ourMenu > .container {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   width: 100%;
}

/* Slider */

.box {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   padding: 10px;
}

.box > .nextImage {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 45%;
   margin: 0 auto;
}

.box > .nextImage img {
   object-fit: cover;
   border-radius: 50px;
}

.box > .title {
   width: 55%;
   margin: 1rem auto;
   text-align: center;
   font-size: 1.15rem;
   color: var(--black);
}

@media (min-width: 720px) {
   .box {
      width: 80%;
      margin: 0 auto;
      cursor: pointer;
   }

   .box > .title {
      width: 50%;
   }
}
