.products {
   width: 100%;
   padding-top: 5rem;
   background-color: var(--white);
}

.products > .title {
   max-width: 1000px;
   width: 90%;
   margin: 0 auto;
   padding-top: 15px;
   text-align: center;
   font-size: 1.2rem;
}

.products > .shippingAddress {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 90%;
   max-width: 510px;
   margin: 1.5rem auto 0;
   padding: 5px;
   text-align: center;
   color: var(--textColor);
}

.products > .shippingAddress > .address {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.products > .shippingAddress > .address > .icon {
   margin-right: 5px;
   color: var(--primaryStrong);
   font-size: 1.2rem;
}

.products > .shippingAddress > .address > p {
   display: -webkit-box;
   -webkit-line-clamp: 1;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
   margin-right: 0.5rem;
   text-align: left;
}

.products > .shippingAddress > .updateAddress {
   text-decoration: underline;
   color: var(--primaryStrong);
   cursor: pointer;
}

.products > .shipping {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: 90%;
   max-width: 460px;
   margin: 1.5rem auto 0;
   padding: 5px;
   text-align: center;
   color: var(--white);
   background-color: var(--primaryLight);
   border-radius: 12px;
}

.products > .shipping .icon {
   margin-right: 5px;
   color: var(--primaryStrong);
}

.products > .shipping > .text {
   color: var(--primaryStrong);
}

.products > .shipping > .text > .openModal {
   text-decoration: underline;
   font-weight: 500;
   cursor: pointer;
}

.products > .searchContainer {
   position: relative;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   max-width: 510px;
   margin: 0 auto;
}

.products > .searchContainer > .icon {
   position: absolute;
   left: 2.2rem;
   font-size: 1.5rem;
   color: rgba(170, 170, 170, 0.9);
}

.products > .searchContainer > .search {
   display: block;
   width: 90%;
   margin: 1rem auto;
   padding: 15px;
   padding-left: 50px;
   height: 55px;
   border-radius: 15px;
   font-size: 0.95rem;
   font-weight: 400;
   line-height: 1.5;
   color: rgba(170, 170, 170, 0.9);
   background-color: rgba(240, 240, 240, 0.9);
   background-clip: padding-box;
   border: none;
   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.products > .searchContainer > .search::placeholder {
   color: rgba(170, 170, 170, 0.9);
   font-size: 0.95rem;
}

.products > .searchContainer > .search:focus {
   color: var(--black);
   background-color: #fff;
   border-color: #80bdff;
   outline: 0;
   box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

/* .products > .title {
   width: 90%;
   margin: 0 auto;
   padding-top: 15px;
   text-align: left;
   font-size: 1.5rem;
} */

.products .container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 92%;
   max-width: 440px;
   margin: 0 auto;
}

.products > .goToCartBtn {
   display: none;
}

@media (min-width: 720px) {
   .products {
      margin: 0 auto;
   }

   .products > .title {
      font-size: 1.8rem;
   }

   .products .container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      max-width: 1100px;
      margin: 1rem auto 0 auto;
   }

   .products > .shippingAddress {
      max-width: 765px;
   }

   .products > .shipping {
      max-width: 765px;
   }

   .products > .searchContainer {
      max-width: 850px;
   }

   .products > .searchContainer > .icon {
      left: 3.5rem;
   }

   .products > .goToCartBtn {
      display: block;
      position: fixed;
      bottom: -5%;
      left: 50%;
      width: 260px;
      height: 45px;
      transform: translate(-50%, 0);
      animation: animate-div-move 1s ease-in-out forwards;
      /* z-index: 1; */
   }

   @keyframes animate-div-move {
      from {
         bottom: -5%;
      }
      to {
         bottom: calc(3%);
      }
   }
}
