.product {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
   width: 100%;
   height: 140px;
   margin: 0.6rem 0;
   border-radius: 25px;
   background-color: #fff;
   box-shadow: 0 8px 16px rgb(35 31 32 / 6%);
}

.product > .card {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   width: 95%;
   height: 90%;
}

.product > .card > .nextImage {
   display: flex;
   flex-direction: column;
   justify-content: center;
   cursor: pointer;
   /* width: 35%;
   height: 100%;
   object-fit: cover;
   border-radius: 25px; */
}

.product > .card > .nextImage img {
   object-fit: cover;
   border-radius: 25px;
}

.product > .card > .info {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: flex-start;
   width: 65%;
   height: 100%;
}

.product > .card > .info > .name {
   width: 90%;
}

.product > .card > .info > .tags {
   font-size: 0.83rem;
   font-weight: 500;
   color: var(--textColor);
}

.product > .card > .info > .price {
   font-size: 0.9rem;
   font-weight: 500;
   color: var(--textColor);
}

.product > .addToCart {
   position: absolute;
   right: 1.7rem;
   bottom: 1.18rem;
}

.product > .addToCart > .selectQuantity,
.product > .addToCart > .selectedQuantity {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 24px;
   height: 24px;
   font-size: 0.9rem;
   border-radius: 50%;
   color: var(--white);
   cursor: pointer;
}

.product > .addToCart > .selectQuantity {
   background: var(--black);
}

.product > .addToCart > .selectQuantity > span {
   color: var(--white);
}

.product > .addToCart > .selectedQuantity {
   background: var(--primary);
}

.product > .addToCart > .selectedQuantity > span {
   color: var(--white);
}

@media (min-width: 720px) {
   .product {
      width: 30%;
      min-width: 320px;
      max-height: 410px;
      margin: 60px 0;
   }

   .product > .card {
      cursor: pointer;
   }

   .product > .box > .name {
      margin-bottom: 3px;
      font-size: 1.22rem;
      font-weight: 700;
      color: var(--black);
      height: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .product > .box > .container > .selectedQuantity {
      cursor: pointer;
   }

   .product > .box > .container > .addToCart {
      bottom: -4.5rem;
   }
}
