.products {
   width: 90vw;
   margin: 8rem auto;
}

.products > .title {
   text-align: center;
}

.products > .container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   max-width: 380px;
   margin: 0 auto;
}

/* Product Card */

.product {
   width: 100%;
   min-width: 283px;
   max-height: 390px;
   margin: 35px 0;
   border-radius: 8px;
   box-shadow: 0 8px 16px rgb(35 31 32 / 6%);
}

.product > .card {
   position: relative;
   width: 100%;
   height: 250px;
   border-bottom: 1px solid #eee;
}

.product > .card > .nextImage {
   position: relative;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.product > .card > .tags {
   position: absolute;
   bottom: 8px;
   margin: 0 10px;
}

.product > .card > .tags > .tag {
   height: 35px;
   margin-right: 4px;
   padding: 8px;
   font-size: 0.7rem;
   font-weight: 700;
   line-height: 1.6;
   border: 1px solid #eee;
   border-radius: 4px;
   background-color: hsla(0, 0%, 100%, 0.85);
   color: var(--textColor);
}

.product > .box {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   position: relative;
   width: 100%;
   margin: 16px 0;
   padding: 0 16px;
   line-height: 1.2em;
   font-weight: 700;
}

.product > .box > .name {
   margin-bottom: 3px;
   font-size: 1.22rem;
   font-weight: 700;
   color: var(--black);
}

.product > .box > .container {
   display: flex;
   align-items: center;
   position: relative;
   width: 100%;
   margin-top: 10px;
}

.product > .box > .container > .price {
   width: 100%;
   margin: 12px 0;
   font-size: 1rem;
   font-weight: 600;
   color: var(--black);
}

.product > .box > .container > .selectedQuantity {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 35px;
   height: 30px;
   border-radius: 50%;
   background: #47d178;
   color: var(--white);
}

.product > .box > .container > .addToCart {
   position: absolute;
   bottom: -3rem;
   left: 50%;
   width: 100%;
   max-width: 210px;
   padding: 12px 25px;
   border: 0.1px solid black;
   background-color: black;
   color: white;
   transform: translate(-50%, 0);
}

@media (min-width: 720px) {
   .products {
      margin: 10rem auto;
   }

   .products > .container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      max-width: 1200px;
      margin: 2rem auto;
   }

   /* Product Card */

   .product {
      width: 30%;
      min-width: 320px;
      max-height: 410px;
      margin: 60px 0;
   }

   .product > .card {
      cursor: pointer;
   }

   .product > .box > .name {
      margin-bottom: 3px;
      font-size: 1.22rem;
      font-weight: 700;
      color: var(--black);
      height: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .product > .box > .container > .selectedQuantity {
      cursor: pointer;
   }

   .product > .box > .container > .addToCart {
      bottom: -4.5rem;
   }
}
