.ourMenu {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   width: 100vw;
   padding: 20px;
   margin-bottom: 3rem;
}

.ourMenu > .title {
   width: 80%;
   margin: 1.5rem 0;
   text-align: center;
   color: var(--black);
}

.ourMenu > .container {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   width: 100%;
}

/* Slider */

.box {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
}

.box > .nextImage {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 75%;
   margin: 0 auto;
}

.box > .nextImage img {
   object-fit: cover;
   border-radius: 20px;
}

.box > .nextImage > .btn {
   position: absolute;
   bottom: 20px;
   left: 50%;
   transform: translate(-50%, 0);
   width: 70%;
   max-width: 320px;
}

.box > .title {
   width: 70%;
   margin: 1rem auto 0 auto;
   text-align: center;
   font-size: 1.15rem;
   color: var(--textColor);
}

@media (min-width: 720px) {
   .ourMenu {
      width: 80%;
      max-width: 1100px;
      margin: 0 auto;
   }

   .box {
      width: 80%;
      margin: 0 auto;
      cursor: pointer;
   }

   .box > .nextImage {
      width: 100%;
      max-width: 450px;
   }

   .box > .nextImage > .btn {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 100%;
      max-width: 180px;
   }

   .box > .title {
      width: 100%;
      max-width: none;
      font-size: 1.4rem;
   }
}
