.promos {
   width: 100vw;
   height: 100vh;
   margin-top: 4rem;
   padding-bottom: 10rem;
   background-color: var(--white);
}

.promos > .container {
   position: relative;
   max-width: 440px;
   width: 90%;
   margin: 0 auto;
   padding: 1rem 0 5rem;
}

.promos > .container > .title {
   width: 100%;
   text-align: center;
   font-size: 1.2rem;
}

.promos > .container > .promo {
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 110px;
   width: 100%;
   margin: 1.5rem 0;
   border-radius: 15px;
   background-color: #fff;
   box-shadow: 0 8px 16px rgb(35 31 32 / 6%);
   cursor: pointer;
}

.promos > .container > .promo > .card {
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   width: 90%;
   margin: 0 auto;
}

.promos > .container > .promo > .card > .iconPromo {
   width: 60px;
   height: 60px;
   padding: 15px;
   border: 1px solid rgb(230, 230, 230);
   border-radius: 50%;
   background-color: var(--primary);
   color: var(--white);
}

.promos > .container > .promo > .card > .info {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 75%;
   height: 90%;
}

.promos > .container > .promo > .card > .info > .title {
   font-size: 1.2rem;
   font-weight: 600;
}

.promos > .container > .promo > .card > .info > .text {
   font-size: 0.8rem;
}

.promos > .container > .applyButton {
   margin: 3.5rem 0 4rem 0;
}

.promos > .container > .error {
   position: absolute;
   bottom: 12.5rem;
   display: block;
   width: 100%;
   text-align: center;
   font-size: 0.95rem;
   color: var(--error);
}

@media (min-width: 720px) {
   .promos {
      width: 100%;
      height: calc(100vh - 4rem);
   }

   .promos > .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      max-width: 1100px;
   }

   .promos > .container > .promo {
      width: 45%;
   }

   .promos > .container > .applyButton {
      width: 30%;
      height: 45px;
      margin: 2rem auto;
      font-size: 1.35rem;
   }

   .promos > .container > .error {
      bottom: 10.5rem;
      font-size: 1.1rem;
   }
}
