.promos {
   width: 100vw;
   height: 100vh;
   margin-top: 4rem;
   padding-bottom: 10rem;
   background-color: var(--white);
}

.promos > .container {
   max-width: 440px;
   width: 90%;
   margin: 0 auto;
   padding-top: 1rem;
}

.promos > .container > .promo {
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 110px;
   width: 100%;
   margin: 1.5rem 0;
   border-radius: 15px;
   background-color: #fff;
   box-shadow: 0 8px 16px rgb(35 31 32 / 6%);
   cursor: pointer;
}

.promos > .container > .promo > .card {
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   width: 90%;
   margin: 0 auto;
}

.promos > .container > .promo > .card > .iconPromo {
   width: 60px;
   height: 60px;
   padding: 15px;
   border: 1px solid rgb(230, 230, 230);
   border-radius: 50%;
   background-color: var(--primary);
   color: var(--white);
}

.promos > .container > .promo > .card > .info {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 75%;
   height: 90%;
}

.promos > .container > .promo > .card > .info > .title {
   font-size: 1.2rem;
   font-weight: 600;
}

.promos > .container > .promo > .card > .info > .text {
   font-size: 0.8rem;
}

.promos > .container > .applyButton {
   margin: 2rem 0 4rem 0;
}

.promos > .container > .error {
   display: block;
   margin: -1.5rem 0 -1.2rem 0;
   text-align: center;
   font-size: 0.8rem;
   color: var(--error);
}
