.questions {
   width: 100vw;
   height: 100%;
}

.questions > .container {
   margin: 5rem 0;
}

.questions > .container > .accordion {
   width: 100%;
}

@media (min-width: 720px) {
   .questions {
      margin-bottom: 5rem;
      max-width: 1100px;
      margin: 0 auto;
   }
}
