.register {
   width: 100vw;
   height: 100%;
}

.register > .container {
   /* min-height: 100vh; */
   /* display: flex;
   justify-content: flex-start;
   flex-direction: column;
   align-items: center; */
   /* padding: 0; */
   /* position: relative; */
   /* padding: 15px 0; */
   /* overflow-x: hidden; */
   background-image: url(/img/header-signup.jpg);
   background-position: 55%;
   background-size: cover;
   background-repeat: no-repeat;
   width: 100%;
   height: 750px;
   text-align: left;
}

.register > .container > form {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 95%;
   margin: 0 auto;
   padding-top: 5rem;
}

.register > .container > form > .title {
   text-align: left;
   font-size: 2.5rem;
}

.register > .container > form > .inputText {
   width: 80%;
   max-width: 350px;
   margin-top: 1rem;
}

.register > .container > form > .inputText > input {
   display: block;
   width: 100%;
   padding: 15px;
   height: 50px;
   border-radius: 10px;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #495057;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid #ced4da;
   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.register > .container > form > .inputText > input:focus {
   color: #495057;
   background-color: #fff;
   border-color: #80bdff;
   outline: 0;
   box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.register > .container > form > .registerButton {
   width: 80%;
   max-width: 350px;
   margin: 1.5rem 0 2rem 0;
}

.register > .container > .loginContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 95%;
   margin: 0 auto;
}

.register > .container > .loginContainer > .login {
   margin: 2.5rem 0;
}

/* .register > .container > .loginContainer > .textProviders {
   width: 75%;
   max-width: 290px;
   margin-bottom: 1rem;
} */

.register > .container > .loginContainer > .providers {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 95%;
}

.register > .container > .loginContainer > .providers > .providerButton {
   display: flex;
   justify-content: center;
   width: 80%;
   max-width: 350px;
   margin: 0.8rem 0;
   padding: 0.5rem 0.5rem;
   color: var(--black);
   border: 1px solid var(--black);
   background-color: var(--white);
}

.register > .container > .loginContainer > .providers > .providerButton > .icon {
   font-size: 1.3rem;
   margin-right: 1.1rem;
}

@media (min-width: 720px) {
   .register > .container {
      background-image: url(/img/header-signup-desktop.jpg);
      height: 810px;
      background-position: 50%;
      padding: 15px 0;
   }

   .register > .container > form {
      max-width: 1140px;
      align-items: flex-start;
   }

   .register > .container > form > .inputText {
      width: 40%;
      max-width: 400px;
      margin-top: 1rem;
   }

   .register > .container > form > .registerButton {
      width: 40%;
      max-width: 400px;
   }

   .register > .container > .loginContainer {
      max-width: 1140px;
      align-items: flex-start;
   }

   .register > .container > .loginContainer > .providers {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 95%;
   }

   .register > .container > .loginContainer > .providers > .providerButton {
      display: flex;
      justify-content: center;
      width: 42.5%;
      max-width: 400px;
      margin: 0.8rem 0;
      padding: 0.5rem 0.5rem;
      color: var(--black);
      border: 1px solid var(--black);
      background-color: var(--white);
   }

   .register > .container > .loginContainer > .login {
      text-align: center;
      width: 80%;
      max-width: 1140px;
      display: flex;
      align-items: flex-start;
   }

   .register > .container > .loginContainer > .login > span {
      display: flex;
      justify-content: center;
      width: 50%;
      max-width: 400px;
   }

   .register > .container > .loginContainer > .login strong {
      cursor: pointer;
   }
}
