.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   background-color: #fff;
}

.container > .subtitle {
   margin: 1rem 0;
   font-size: 1.1rem;
}

.container > .text {
   width: 90%;
   margin-bottom: 1rem;
   text-align: center;
}
