/* styles/Lista.module.css */

.sitemap {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100vw;
   padding: 20px;
}

.container {
   margin: 5rem 0;
}

.column {
   flex: 1;
   padding: 20px;
}

.column > .title {
   margin-bottom: 20px;
   text-align: center;
}

.column > .list {
   display: flex;
   flex-direction: column;
   list-style-type: none;
   padding: 0;
}

.column > .list .linkList {
   text-align: center;
   margin: 15px 0;
   cursor: pointer;
}

.column > .list .linkList span {
   font-size: 1.1rem;
   color: var(--primary);
}

.column > .list .linkList span:hover {
   text-decoration: underline;
}

@media (min-width: 720px) {
   .container {
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
      width: 80%;
      max-width: 1100px;
      padding: 20px;
   }
}
