.linkTo {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
}

.linkTo > .btn {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   width: 100%;
   height: 100%;
   padding: 10px 55px 10px 40px;
   letter-spacing: 1.5px;
   border: 1px solid var(--primary);
   color: var(--white);
   background-color: var(--primary);
   transition: all 0.2s ease-in-out;
}

.linkTo > .btn > .load {
   position: absolute;
   left: 10px;
}

.linkTo > .btn:focus,
.linkTo > .btn:disabled,
.linkTo > .btn:hover {
   background-color: var(--primaryHover);
   border-color: var(--primaryHover);
}

.linkTo > .btn:focus,
.linkTo > .btn:disabled,
.linkTo > .btn:focus > .icon {
   color: var(--clickedButton);
   cursor: auto;
}

.linkTo > .btn > .icon {
   position: absolute;
   margin-left: 8rem;
   font-size: 1.6rem;
   color: var(--white);
}

@media (min-width: 720px) {
   .linkTo > .btn {
      padding: 10px 40px;
   }

   .linkTo > .btn > .icon {
      opacity: 0;
      margin-left: 5rem;
      transition: all 0.2s ease-in-out;
   }

   .linkTo > .btn:hover > .icon {
      opacity: 1;
      margin-left: 7rem;
      z-index: 10;
   }
}
