.types {
   width: 90%;
   margin: 0 auto;
   position: -webkit-sticky;
}

.types > .title {
   font-size: 1rem;
   line-height: 100%;
   text-align: center;
}

.types > .container {
   display: flex;
   justify-content: flex-start;
   width: 100%;
   padding: 24px 0 20px;
   overflow: auto;
}

.types > .container > .type {
   height: 98px;
   flex: 0 0 120px;
   margin-right: 25px;
   overflow: hidden;
   border-radius: 8px;
   border: 1px solid var(--borderGrey);
}

.types > .container > .type.selected {
   border: 1px solid var(--textColor);
}

.types > .container > .type > .b {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 100%;
   height: 100%;
}

.types > .container > .type > .b > .nextImage {
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   width: 100%;
   height: 70px;
   margin: 0 auto;
}

.types > .container > .type > .b > .nextImage img {
   width: 100%;
   height: 100%;
   border-radius: 8px;
}

.types > .container > .type > .b > span {
   text-align: center;
   font-size: 12px;
   font-weight: 600;
}

@media (min-width: 720px) {
   .types > .title {
      max-width: 1100px;
      margin: 1rem auto;
      font-size: 1.3rem;
   }

   .types > .container {
      max-width: 1100px;
      padding: 0;
      margin: 0 auto;
      flex-wrap: wrap;
      justify-content: space-evenly;
   }

   .types > .container > .type {
      margin-bottom: 25px;
      height: 110px;
      flex: 0 0 130px;
      cursor: pointer;
   }

   .types > .container > .type > .b > .nextImage {
      height: 80px;
   }

   .types > .container > .type > .b > span {
      font-size: 0.95rem;
   }
}
